########################################################
# Custom Settings
########################################################
mac/terminal/profiles/*.json
mac/terminal/windowgroups/*.json


############################
# IDEs
############################

## Eclipse
.classpath
.project
.settings/
/bin/

## NetBeans
/nbproject/

## Visual Studio Code
.vscode/.ropeproject/

## IntelliJ Idea
.idea/*
!.idea/runConfigurations/
!.idea/scopes/
!.idea/watcherTasks.xml
*.iml
*.ipr
*.iws
checkstyle-cachefile
out/

############################
# OSes
############################

# macOS
.DS_Store

############################
# Languages
############################

## Python
*.egg-info
*.pyc

############################
# Libraries
############################

## Maven
target/

## npm
/node_modules

############################
# Misc
############################
**/.ant-targets-build.xml
*~
/.cache-*
/*.sass-cache
